<div class="dashboard-container">
  <h2>Adminstrator Dashboard</h2>
  <div class="cards-container">
    <div class="card">
      <h3>Admins</h3>
      <p>{{ counts.admins }}</p>
    </div>
    <div class="card">
      <h3>Events</h3>
      <p>{{ counts.events }}</p>
    </div>
    <div class="card">
      <h3>Topics</h3>
      <p>{{ counts.topics }}</p>
    </div>
    <div class="card">
      <h3>Locations</h3>
      <p>{{ counts.locations }}</p>
    </div>
    <div class="card">
      <h3>Speakers</h3>
      <p>{{ counts.speakers }}</p>
    </div>
  </div>
</div>
